<div class="container">
  {{#each Ingredients}}
  <div class="ingredient-list">
    <p></p>
  </div>
  {{/each}}
</div>

{{!-- <div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div> --}}

<!-- homepage will display ingredients list in a grid that users can click>
