<div class="container vertical-center">
  <h1>What ingredients do you have?</h1>
  <form class="form" action="/findMeAMeal" method="post">
    <div class="ingredients-list">
      {{#each ingredients}}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="{{this}}">
        <label class="form-check-label" for="flexCheckDefault">
          {{this}}
        </label>
      </div>
      {{/each}}
    </div>
    <div class="button-wrapper">
      <input type="submit" name="" value="Find me a meal!">
    </div>
  </form>
</div>