<div class="container">
  <h1>Your Meal Options</h1>
  <div id="meal-list">
    {{#each Meals}}
    <div class="card" style="width: 500px;">
      <div class="card-header">
        You have 90% of the ingredients
      </div>
      <div class="card-body">
        <img class="card-img-top" src={{this.image}} alt="Meal image">
        <h5 class="card-title">{{this.meal}}</h5>
        <p class="card-text">Missing ingredients:</p>
        <ul>
          <li>Cheese</li>
          <li>Salt</li>
          <li>Eggs</li>
        </ul>
        <a href="{{this.video}}" class="btn btn-primary" target = "_blank">Video instructions</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>