body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
}

.vertical-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  }

.ingredients-list {
  columns: 100px 3;
}

h1 {
  text-align: center;
  padding: 50px;
}

.button-wrapper {
  text-align: center;
  padding: 50px;
}

#meal-list {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.card {
  margin-bottom: 50px;
}

.card-img-top {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}
